.board{
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  height: 300px;
  width: 100px;
  background-color: white;
}

.moveInstructions{
  font-size: 40px;
  color:red;
}